<!DOCTYPE html>
<html>
    <body>
        <form method="POST" action="/checkout">
            <h1><label for="item">Requested Item for Purchase: </label>
            <input type="text" name="item" id ="item"></h1>
            <input type="submit" id ="submit">
        </form>
    </body>
</html>