<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Item checkout</title>
 </head>
 <body>
   <form method="POST" action="/checkout">
     <h1>Item checkout</h1>
     <p>Item name:<input type="text" name="item"></p>
      <input type="submit" id="submit">
   </form>
 </body>
</html>
